# Build folders
node_modules/
dist/
out/

# Personalized IDE behavior
.vscode/

# Too big for git
res/*.onnx

# Define an exported constant 'openai_sdk_key' here but don't commit it to VCS
src/devSecrets.ts
# This will be moved externally somehow soon... 
