// TODO styling appears different on some domains, likely due to css styling bleed-over from the embedded page. 
// Track down loose styles and reign them in.
// Also, if the page is resized, the floating elements may be drawn offscreen. 
// In this case, they should be moved back onscreen at the closest point or a default position

.ocr-extension-root {
    position:fixed; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    pointer-events: none;
    z-index: 9999; 
    font-family: Arial, sans-serif;

    .control-window {
        pointer-events: auto; 
        position:fixed; 
        z-index: 0;
        left: 50%; 
        right:50%; 
        top: 10px; 
        width: 250px; 
        text-align:center;
        border: 1px solid lightgrey;
        border-radius: 0.5rem; 
        padding: 0.5rem;
        background-color: rgba(255,255,255,0.5);
        color: black;
        
        button {
            //Figure out regular style for buttons
            border: none;
            margin: 0.25rem;
            padding: 0.5rem;
            font-size: medium;
            color: white;
            background-color: cornflowerblue;
            cursor: pointer;

            &.disabled {
                background-color: grey;
                color: lightgrey;
            }
        }

        .button-row {
            display: flex;
            justify-content: center;
        }

        .icon-button {
            border: none;
            background-color: cornflowerblue;
            padding: 0 0.25rem;
            margin: 0.25rem;
            cursor: pointer;

            svg {
                height: 1.5rem;
                width: 1.5rem;
            }
        }

        .ocr-history {
            font-size: medium;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: white;

            li:nth-child(2n) {
                background-color: lightgray;
            }

            .translation-available {
                text-decoration: underline;
            }
        }
    }

    .debug-window {
        pointer-events: auto; 
        position: fixed; 
        left: 50%; 
        top: 10%; 
        border: 0.1rem solid; 
        opacity: 75%; 
        background-color: white;
    };

    .selection-canvas {
        pointer-events: auto;
        cursor: none;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .close-button {
        pointer-events: auto; 
        float: right;
    }
    
    .hidden {
        visibility: hidden;
    }

    .gone {
        display: none;
    }

    $toast-bottom: 1rem;
    .toast {
        visibility: hidden;
        margin: 1rem;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 2px;
        padding: 1rem;
        z-index: 1;
        position: fixed;
        left: 45%;
        right: 45%;
        bottom: $toast-bottom;

        &.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
            animation: fadein 0.5s, fadeout 0.5s 1.5s;
        }

    }

    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: $toast-bottom; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: $toast-bottom; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: $toast-bottom; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: $toast-bottom; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
}

.ocr-on-top {
    z-index: 999999;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden
}


    
