// TODO styling appears different on some domains, likely due to css styling bleed-over from the embedded page. 
// Track down loose styles and reign them in.
// Also, if the page is resized, the floating elements may be drawn offscreen. 
// In this case, they should be moved back onscreen at the closest point or a default position

.ocr-extension-root {
    position:fixed; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    pointer-events: none; 
    z-index: 1;
    font-family: Arial, sans-serif;

    .control-window {
        pointer-events: auto; 
        position:fixed; 
        left: 50%; 
        right:50%; 
        top: 10px; 
        width: 250px; 
        text-align:center;
        border: 0.1rem solid black; 
        border-radius: 0.5rem; 
        padding: 0.5rem;
        background-color: white;
        color: black;
        
        button {
            margin: 0.25rem;
        }

        .ocr-history {
            padding-left: 1.25rem;
            font-size: medium;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li:nth-child(2n) {
                background-color: lightgray;
            }

            .translation-available {
                list-style-type: '訳';
            }
        }
    }

    .debug-window {
        pointer-events: auto; 
        position: fixed; 
        left: 50%; 
        top: 10%; 
        border: 0.1rem solid; 
        opacity: 75%; 
        background-color: white;
    };

    .selection-canvas {
        pointer-events: auto;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .close-button {
        pointer-events: auto; 
        float: right;
    }
    
    .hidden {
        display: none;
    }
}



    
